- name: update apt package
  become: true
  apt:
    update_cache: yes

- name: install microk8s as kubernetes cluster
  become: true
  shell: | 
    IS_EXISTED_CLUSTER=$(which microk8s)
    if [ -z "$IS_EXISTED_CLUSTER" ]
    then
      echo "Installing microk8s..."
      snap install -y microk8s --classic
    else
      echo "microk8s was existed"
    fi